:root{
  --mycolor-1:#11abc1;    /* wave background, navbar background,  */
  --mycolor-2:#df3062;
  --mycolor-3:#f5b935;
  --mycolor-4:#4bac3f;


  --mycolor-5:#fc8129;   /* link hover */

  

}







/* Global changes */
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
}

a {
  /* color: #ef6603; */
  text-decoration: none;
}

a:hover {
  color: #fc8129;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

p{
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
}


.bi-check-circle{
  color: var(--mycolor-3);

}



.custom-button-new {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  /* color: #fff; */
  color: black;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #ef6603;
}

.custom-button-new:hover {
  background: #ef6603;
  color: #fff;
  text-decoration: none;
}





/* Menu properties */

.navbar-brand img{
  /* width: 100px; */
  width: 140px;
}


.mainitem {
  margin-left: 10px;
  font-weight: 600;
  
}

.mainitem :hover {
  color: #fc8129;
  text-decoration: none;
  
}




#productmenu a{
  color: blue;
}

#productmenu {
  background-color: white;
  color: black;
  border-radius: 25px;
}

#productmenu a{
  color: rgb(122, 140, 236);
  font: bold;
}
#productmenu a:hover{
  /* color: #fc8129; */
  color: var(--mycolor-5);
}

#productmenu button{
  color: black;
}
#productmenu button:hover{
  color: #fc8129;
}

#prodmenutabs button.active{
  background-color: transparent;
  color: #fc8129;
}



.prodpills{
  border: black;
  border-radius: 25px;
}



#what-we-do-menu {
  background-color: white;
  color: black;
  border-radius: 25px;
}
#what-we-do-menu a{
  color: black;
}

#what-we-do-menu a:hover{
  color: #fc8129;
}


#aboutmenu {
  background-color: white;
  color: black;
  border-radius: 25px;
}
#aboutmenu a{
  color: black;
}
#aboutmenu a:hover{
  color: #fc8129;
}

#menu-tagline p{
  font-size: 15px;
  font-weight: 400;
}



/* #prodmenutabs button.active {
  background-color: beige;
  color: black;
} */

#darkmenu {
  /* background-color: chartreuse; */
  /* background: linear-gradient(0deg, #2a2c39 0%, #33364a 100%); */
  /* background-color: rgb(51, 54, 73); */
  /* background: #4b9fe1; */
  background: #11abc1;
}


.soldrop{
  position: static;
  display: none;
}
.soldrop >.dropdown-menu {
  display: none;
}

.soldrop:hover .dropdown-menu {
display: initial;
/* left:0px; */
margin-top: 0px !important;
width: 60% !important;
/* left: 10%; */
right: 1%;
top: 65px;
background-color: transparent;
border: none;

/* animation: fadeInLeft; */
animation: fadeInDown;
animation-duration: .6s;
}








.heading-highlight{
  color: var(--mycolor-3);
}










footer{
  padding-top: 25px;
  padding-bottom: 25px;
  /* background-color: rgb(5,47,119); */
  background-color: #11abc1;
}
footer h5{
  font-weight: 400;
  /* color: white; */
  color: #444444;
}
#footercontainer a{
  color: white;
}
.foohead{
  color: white;
}


footer a:hover{
  color: #fc8129;
  text-decoration: none;
}

#soclinks a{
  color: #f5b935;
  
}



@media (min-width: 1000px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    /* left:0px; */
    margin-top: 0px !important;
    width: 53% !important;
    /* left: 10%; */
    right: 1%;
    /* top: 65px; for small logo */
    top: 75px;
    background-color: transparent;
    border: none;
  
    /* animation: fadeInLeft; */
    animation: fadeInDown;
    animation-duration: .6s;
  }
}


.dropdown {
  position: static !important;
}




.offeringcard:hover .card {
  border-color: var(--mycolor-3);
  border-width: medium;
  transition-duration: 700ms;
}

.offeringcard:hover .card-header {
  background-color: var(--mycolor-3);
  color: white;
  transition-duration: 700ms;

}





/* Starts integration */


/* homepage style start */




.bigcircularbutton1 {
  background-color: white;
  color: black;
  border-radius: 60px;
  font-weight: 1000;
  font-size: x-large;
}


#who-we-are {
  height: 700px;
}

#trusted-by {
  background-color: rgb(40, 44, 47);

}

#technical-partners {
  background-color: rgb(54, 113, 223);
}

#Testimonials {
  background-color: rgb(54, 113, 223);
  padding: 50px;
}

.testimo-card{
  height: 300px;
}


/* @media (max-width: 768px) {
  .testimo-card{
    height: 100px;
  }
} */


.circular-button {
  border-radius: 60px;
  font-weight: 1000;
  font-size: x-large;

}

#frame-t2 button {
  background-color: white;
  color: lightskyblue;
  border-radius: 60px;
  font-weight: 1000;
  font-size: x-large;
  /* height: 70px; */
}

#frame-topcompany {
  background-image: url(../images/bg11.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
  height: 600px;
  width: 100%;
}

/* #darkmenu {
  color: white;
  background-color: black;
} */


/* homepage style ends */






/* COMMON CSS FOR ALL PAGES */

/* for main heading of each page */
#mainheading{
  background-image: url(../images/gif/3d08e03cb40252526fee2036a67f07f1.gif);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}


@media (min-width: 1000px) {
#mainheading h1{

  font-size: 450%;
}
}








/* RESPONSIVE CHANGES */
@media (max-width: 767px){

  
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px !important;
  width: 100% !important;
  /* left: 10%; */
  /* right: 5%; */
  /* top: 85px; */
  background-color: transparent;
  border: none;

  /* animation: fadeInLeft; */
  /* animation: fadeInDown;
  animation-duration: .6s; */

}
  
#maintagline {
  height: 500px;
}

#maintagline h1 {
  font-weight: 1000;
  font-size: 300%;
}

#maintagline button {
  background-color: white;
  color: black;
  border-radius: 60px;
  font-weight: 1000;
  font-size: large;
 padding: 2px;
}

#maintagline button :hover {
  background-color: orange;

}

.bigcircularbutton1 {
  background-color: white;
  color: black;
  border-radius: 60px;
  font-weight: 500;
  font-size: large;
}

#who-we-are {
  height: 900px;
}

#frame-topcompany {
  height: 800px;
  width: 100%;
}

.testimo-card{
  height: 750px;
}

#Testimonials {
  padding: 5px;
}



}

