body {
  background-color: black;
  font-family: comf;
}







.mainitem {
  /* font-size: large; */
  /* font-weight: 700; */
  margin-left: 10px;

  font-weight: 900;
  font-size: large;
}

#productmenu a{
  color: blue;
}

#productmenu {
  background-color: black;
  color: white;
}
#what-we-do-menu {
  background-color: black;
}
#aboutmenu {
  background-color: black;
}


.dd-custom{
  background-color: black;
  /* color: aliceblue; */
}

#prodmenutabs button.active {
  background-color: beige;
  color: black;

}

@media (min-width: 1000px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    /* left:0px; */
    margin-top: 0px !important;
    width: 60% !important;
    /* left: 10%; */
    right: 5%;
    top: 85px;
    background-color: transparent;
    border: none;
  
    /* animation: fadeInLeft; */
    animation: fadeInDown;
    animation-duration: .6s;
  }
}


.dropdown {
  position: static !important;
}


.mainitem:hover {
  /* display: inline-block; */
  /* margin: 0 0.5rem; */
  /* background-color: burlywood; */
  /* fill: white */

  animation: fadeIn;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}

.offeringcard:hover .card {
  border-color: blue;
  border-width: medium;
  transition-duration: 700ms;
}

.offeringcard:hover .card-header {
  background-color: skyblue;
  color: white;
  transition-duration: 700ms;

}





/* Starts integration */


/* homepage style start */


#maintagline {
  height: 600px;
}

#maintagline h1 {
  font-weight: 1000;
  font-size: 440%;
}

#maintagline button {
  background-color: white;
  color: black;
  border-radius: 60px;
  font-weight: 1000;
  font-size: x-large;
}

#maintagline button :hover {
  background-color: orange;

}

.bigcircularbutton1 {
  background-color: white;
  color: black;
  border-radius: 60px;
  font-weight: 1000;
  font-size: x-large;
}

#frame2 {
  height: 90%;
}


#who-we-are {
  height: 700px;
}

#trusted-by {
  background-color: rgb(40, 44, 47);

}

#technical-partners {
  background-color: rgb(54, 113, 223);
}

#Testimonials {
  background-color: rgb(54, 113, 223);
  padding: 50px;
}

.testimo-card{
  height: 300px;
}


.circular-button {
  border-radius: 60px;
  font-weight: 1000;
  font-size: x-large;

}

#frame-t2 button {
  background-color: white;
  color: lightskyblue;
  border-radius: 60px;
  font-weight: 1000;
  font-size: x-large;
  /* height: 70px; */
}

#frame-topcompany {
  background-image: url(../images/bg11.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
  height: 600px;
  width: 100%;
}

#darkmenu {
  color: white;
  background-color: black;
}


/* homepage style start */




@media (max-width: 767px){



  
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px !important;
  width: 100% !important;
  /* left: 10%; */
  /* right: 5%; */
  /* top: 85px; */
  background-color: transparent;
  border: none;

  /* animation: fadeInLeft; */
  /* animation: fadeInDown;
  animation-duration: .6s; */

}
  
#maintagline {
  height: 500px;
}

#maintagline h1 {
  font-weight: 1000;
  font-size: 300%;
}

#maintagline button {
  background-color: white;
  color: black;
  border-radius: 60px;
  font-weight: 1000;
  font-size: large;
 padding: 2px;
}

#maintagline button :hover {
  background-color: orange;

}

.bigcircularbutton1 {
  background-color: white;
  color: black;
  border-radius: 60px;
  font-weight: 500;
  font-size: large;
}

#who-we-are {
  height: 900px;
}

#frame-topcompany {
  height: 800px;
  width: 100%;
}

.testimo-card{
  height: 750px;
}

#Testimonials {
  padding: 5px;
}



}

